-- MySQL dump 10.13  Distrib 8.0.42, for Win64 (x86_64)
--
-- Host: localhost    Database: samaysetu
-- ------------------------------------------------------
-- Server version	8.0.42

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `acadamic_year`
--

DROP TABLE IF EXISTS `acadamic_year`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `acadamic_year` (
  `acadamin_id` bigint NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `end_date` date DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `start_date` date DEFAULT NULL,
  `year_name` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`acadamin_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `acadamic_year`
--

LOCK TABLES `acadamic_year` WRITE;
/*!40000 ALTER TABLE `acadamic_year` DISABLE KEYS */;
/*!40000 ALTER TABLE `acadamic_year` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `acadamic_year_seq`
--

DROP TABLE IF EXISTS `acadamic_year_seq`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `acadamic_year_seq` (
  `next_val` bigint DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `acadamic_year_seq`
--

LOCK TABLES `acadamic_year_seq` WRITE;
/*!40000 ALTER TABLE `acadamic_year_seq` DISABLE KEYS */;
INSERT INTO `acadamic_year_seq` VALUES (1);
/*!40000 ALTER TABLE `acadamic_year_seq` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `academic_years`
--

DROP TABLE IF EXISTS `academic_years`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `academic_years` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `end_date` date NOT NULL,
  `is_current` bit(1) DEFAULT NULL,
  `start_date` date NOT NULL,
  `year_name` varchar(20) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK4hib15es4b0pflyedx1q4huxg` (`year_name`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `academic_years`
--

LOCK TABLES `academic_years` WRITE;
/*!40000 ALTER TABLE `academic_years` DISABLE KEYS */;
INSERT INTO `academic_years` VALUES (1,'2025-12-03 05:05:16.001600','2025-06-30',_binary '\0','2024-07-01','2024-25'),(2,'2025-12-04 00:18:39.841236','2026-07-31',_binary '','2025-08-01','2025-26'),(6,'2025-12-24 01:25:05.916367','2027-06-30',_binary '\0','2026-07-01','2026-27');
/*!40000 ALTER TABLE `academic_years` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `batches`
--

DROP TABLE IF EXISTS `batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `batches` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(50) NOT NULL,
  `division_id` bigint NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `division_id` (`division_id`),
  CONSTRAINT `batches_ibfk_1` FOREIGN KEY (`division_id`) REFERENCES `divisions` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `batches`
--

LOCK TABLES `batches` WRITE;
/*!40000 ALTER TABLE `batches` DISABLE KEYS */;
INSERT INTO `batches` VALUES (1,'A1',2,'2025-12-23 18:23:13','2025-12-23 18:23:13'),(2,'A2',2,'2025-12-23 18:23:19','2025-12-23 18:23:19'),(3,'A3',2,'2025-12-23 18:23:24','2025-12-23 18:23:24'),(4,'B1',3,'2025-12-23 18:23:31','2025-12-23 18:23:31'),(5,'B2',3,'2025-12-23 18:23:36','2025-12-23 18:23:36'),(6,'C1',4,'2025-12-23 18:23:58','2025-12-23 18:23:58');
/*!40000 ALTER TABLE `batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `courses`
--

DROP TABLE IF EXISTS `courses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `courses` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `code` varchar(20) NOT NULL,
  `course_type` enum('LAB','THEORY') NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `credits` int NOT NULL,
  `description` text,
  `hours_per_week` int NOT NULL,
  `is_active` bit(1) DEFAULT NULL,
  `name` varchar(100) NOT NULL,
  `prerequisites` text,
  `semester` enum('SEM_1','SEM_2','SEM_3','SEM_4','SEM_5','SEM_6','SEM_7','SEM_8') NOT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `department_id` bigint NOT NULL,
  `year` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK61og8rbqdd2y28rx2et5fdnxd` (`code`),
  KEY `FKsv2mdywju86wq12x4did4xd78` (`department_id`),
  CONSTRAINT `FKsv2mdywju86wq12x4did4xd78` FOREIGN KEY (`department_id`) REFERENCES `departments` (`id`),
  CONSTRAINT `courses_chk_1` CHECK ((`credits` >= 1)),
  CONSTRAINT `courses_chk_2` CHECK ((`hours_per_week` >= 1))
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `courses`
--

LOCK TABLES `courses` WRITE;
/*!40000 ALTER TABLE `courses` DISABLE KEYS */;
INSERT INTO `courses` VALUES (4,'CS534','THEORY','2025-12-24 01:08:33.408699',3,NULL,3,_binary '','OS',NULL,'SEM_5','2025-12-24 01:09:24.995505',1,3);
/*!40000 ALTER TABLE `courses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `departments`
--

DROP TABLE IF EXISTS `departments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `departments` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `code` varchar(10) NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `head_of_department` varchar(100) DEFAULT NULL,
  `name` varchar(100) NOT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `years` varchar(255) DEFAULT NULL,
  `academic_year_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_dept_code_academic_year` (`code`,`academic_year_id`),
  UNIQUE KEY `uk_dept_name_academic_year` (`name`,`academic_year_id`),
  KEY `fk_dept_academic_year` (`academic_year_id`),
  CONSTRAINT `fk_dept_academic_year` FOREIGN KEY (`academic_year_id`) REFERENCES `academic_years` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `departments`
--

LOCK TABLES `departments` WRITE;
/*!40000 ALTER TABLE `departments` DISABLE KEYS */;
/*!40000 ALTER TABLE `departments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `divisions`
--

DROP TABLE IF EXISTS `divisions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `divisions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `branch` varchar(50) NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `is_active` bit(1) DEFAULT NULL,
  `name` varchar(10) NOT NULL,
  `total_students` int DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `year` int NOT NULL,
  `academic_year_id` bigint NOT NULL,
  `department_id` bigint NOT NULL,
  `time_slot_type` varchar(20) DEFAULT NULL,
  `class_representative` varchar(100) DEFAULT NULL,
  `class_teacher` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKbu73gkjcwbj410v9c5r1vc4rs` (`academic_year_id`),
  KEY `FKk2ih2bx9o9qvtiduyfiddps6e` (`department_id`),
  CONSTRAINT `FKbu73gkjcwbj410v9c5r1vc4rs` FOREIGN KEY (`academic_year_id`) REFERENCES `academic_years` (`id`),
  CONSTRAINT `FKk2ih2bx9o9qvtiduyfiddps6e` FOREIGN KEY (`department_id`) REFERENCES `departments` (`id`),
  CONSTRAINT `divisions_chk_1` CHECK ((`total_students` >= 0)),
  CONSTRAINT `divisions_chk_2` CHECK (((`year` <= 4) and (`year` >= 1)))
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `divisions`
--

LOCK TABLES `divisions` WRITE;
/*!40000 ALTER TABLE `divisions` DISABLE KEYS */;
/*!40000 ALTER TABLE `divisions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rooms`
--

DROP TABLE IF EXISTS `rooms`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rooms` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `capacity` int NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `equipment` text,
  `has_ac` bit(1) DEFAULT NULL,
  `has_projector` bit(1) DEFAULT NULL,
  `is_active` bit(1) DEFAULT NULL,
  `name` varchar(50) NOT NULL,
  `room_number` varchar(20) NOT NULL,
  `building_wing` varchar(10) DEFAULT NULL,
  `room_type` enum('AUDITORIUM','CLASSROOM','LAB') NOT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `department_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK1kuqhbfxed2e8t571uo82n545` (`name`),
  UNIQUE KEY `UK7ljglxlj90ln3lbas4kl983m2` (`room_number`),
  KEY `FKmnnwsm0xvdd30vps6hpm92nm6` (`department_id`),
  CONSTRAINT `FKmnnwsm0xvdd30vps6hpm92nm6` FOREIGN KEY (`department_id`) REFERENCES `departments` (`id`),
  CONSTRAINT `rooms_chk_1` CHECK ((`capacity` >= 1))
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rooms`
--

LOCK TABLES `rooms` WRITE;
/*!40000 ALTER TABLE `rooms` DISABLE KEYS */;
/*!40000 ALTER TABLE `rooms` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `students`
--

DROP TABLE IF EXISTS `students`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `students` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `admission_year` int NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `is_active` bit(1) DEFAULT NULL,
  `name` varchar(100) NOT NULL,
  `phone` varchar(15) DEFAULT NULL,
  `roll_number` varchar(20) NOT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `division_id` bigint DEFAULT NULL,
  `batch_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKkmd86jf46110c60b412tjt2bg` (`roll_number`),
  UNIQUE KEY `UKe2rndfrsx22acpq2ty1caeuyw` (`email`),
  KEY `FK1ntxg735xgkladah9g3ablij2` (`division_id`),
  KEY `fk_student_batch` (`batch_id`),
  CONSTRAINT `FK1ntxg735xgkladah9g3ablij2` FOREIGN KEY (`division_id`) REFERENCES `divisions` (`id`),
  CONSTRAINT `fk_student_batch` FOREIGN KEY (`batch_id`) REFERENCES `batches` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `students`
--

LOCK TABLES `students` WRITE;
/*!40000 ALTER TABLE `students` DISABLE KEYS */;
/*!40000 ALTER TABLE `students` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `teacher_availability`
--

DROP TABLE IF EXISTS `teacher_availability`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `teacher_availability` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `day_of_week` enum('FRIDAY','MONDAY','SATURDAY','THURSDAY','TUESDAY','WEDNESDAY') NOT NULL,
  `end_time` time(6) NOT NULL,
  `is_available` bit(1) DEFAULT NULL,
  `start_time` time(6) NOT NULL,
  `teacher_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK7obu7ef7yyc0d6bf3eobig59q` (`teacher_id`),
  CONSTRAINT `FK7obu7ef7yyc0d6bf3eobig59q` FOREIGN KEY (`teacher_id`) REFERENCES `teachers` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `teacher_availability`
--

LOCK TABLES `teacher_availability` WRITE;
/*!40000 ALTER TABLE `teacher_availability` DISABLE KEYS */;
/*!40000 ALTER TABLE `teacher_availability` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `teacher_courses`
--

DROP TABLE IF EXISTS `teacher_courses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `teacher_courses` (
  `teacher_id` bigint NOT NULL,
  `course_id` bigint NOT NULL,
  PRIMARY KEY (`teacher_id`,`course_id`),
  KEY `FK998yb1badftsiklfh13bcw3ol` (`course_id`),
  CONSTRAINT `FK998yb1badftsiklfh13bcw3ol` FOREIGN KEY (`course_id`) REFERENCES `courses` (`id`),
  CONSTRAINT `FKg5rpjxn8vjt9v81ura5taiulf` FOREIGN KEY (`teacher_id`) REFERENCES `teachers` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `teacher_courses`
--

LOCK TABLES `teacher_courses` WRITE;
/*!40000 ALTER TABLE `teacher_courses` DISABLE KEYS */;
/*!40000 ALTER TABLE `teacher_courses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `teachers`
--

DROP TABLE IF EXISTS `teachers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `teachers` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `employee_id` varchar(20) NOT NULL,
  `is_active` bit(1) DEFAULT NULL,
  `is_approved` tinyint(1) DEFAULT '0' COMMENT 'Admin approval status: 0=pending, 1=approved',
  `name` varchar(100) NOT NULL,
  `password` varchar(255) NOT NULL,
  `phone` varchar(15) DEFAULT NULL,
  `role` varchar(255) DEFAULT NULL,
  `specialization` text,
  `updated_at` datetime(6) DEFAULT NULL,
  `weekly_hours_limit` int DEFAULT NULL,
  `department_id` bigint DEFAULT NULL,
  `is_email_verified` bit(1) DEFAULT NULL,
  `password_reset_token` varchar(255) DEFAULT NULL,
  `password_reset_token_expiry` datetime(6) DEFAULT NULL,
  `verification_token` varchar(255) DEFAULT NULL,
  `verification_token_expiry` datetime(6) DEFAULT NULL,
  `is_first_login` bit(1) DEFAULT NULL,
  `max_weekly_hours` int DEFAULT NULL,
  `min_weekly_hours` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK8xdh0jsitskwq83arwxvyihhc` (`employee_id`),
  UNIQUE KEY `UK4l9jjfvsct1dd5aufnurxcvbs` (`email`),
  KEY `FKrgr03njnvpwuktc0mntf8t6o0` (`department_id`),
  CONSTRAINT `FKrgr03njnvpwuktc0mntf8t6o0` FOREIGN KEY (`department_id`) REFERENCES `departments` (`id`),
  CONSTRAINT `teachers_chk_1` CHECK (((`weekly_hours_limit` <= 40) and (`weekly_hours_limit` >= 1))),
  CONSTRAINT `teachers_chk_2` CHECK (((`max_weekly_hours` <= 50) and (`max_weekly_hours` >= 1))),
  CONSTRAINT `teachers_chk_3` CHECK (((`min_weekly_hours` <= 40) and (`min_weekly_hours` >= 1)))
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `teachers`
--

LOCK TABLES `teachers` WRITE;
/*!40000 ALTER TABLE `teachers` DISABLE KEYS */;
/*!40000 ALTER TABLE `teachers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `time_slots`
--

DROP TABLE IF EXISTS `time_slots`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `time_slots` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `duration_minutes` int NOT NULL,
  `end_time` time(6) NOT NULL,
  `is_active` bit(1) DEFAULT NULL,
  `is_break` bit(1) DEFAULT NULL,
  `slot_name` varchar(50) DEFAULT NULL,
  `start_time` time(6) NOT NULL,
  `type` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  CONSTRAINT `time_slots_chk_1` CHECK ((`duration_minutes` >= 1))
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `time_slots`
--

LOCK TABLES `time_slots` WRITE;
/*!40000 ALTER TABLE `time_slots` DISABLE KEYS */;
/*!40000 ALTER TABLE `time_slots` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `timetable_entries`
--

DROP TABLE IF EXISTS `timetable_entries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `timetable_entries` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `day_of_week` enum('FRIDAY','MONDAY','SATURDAY','THURSDAY','TUESDAY','WEDNESDAY') NOT NULL,
  `is_recurring` bit(1) DEFAULT NULL,
  `notes` text,
  `updated_at` datetime(6) DEFAULT NULL,
  `week_number` int DEFAULT NULL,
  `academic_year_id` bigint NOT NULL,
  `course_id` bigint NOT NULL,
  `division_id` bigint NOT NULL,
  `room_id` bigint NOT NULL,
  `teacher_id` bigint NOT NULL,
  `time_slot_id` bigint NOT NULL,
  `batch_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKipxk6dtjrd0j0rwbsp4ctb349` (`academic_year_id`),
  KEY `FKjgrx9v6bb7l6uxa43n2mt8fli` (`course_id`),
  KEY `FKp5fjpqc424u26iqu229kjifjf` (`division_id`),
  KEY `FK3frhkh06yqqmouhrsotr7bsuk` (`room_id`),
  KEY `FK7wdiylh6n96rvfmsndtoe0u2d` (`teacher_id`),
  KEY `FKntrdt13bv315e67fy9jvbmjei` (`time_slot_id`),
  KEY `fk_timetable_batch` (`batch_id`),
  CONSTRAINT `FK3frhkh06yqqmouhrsotr7bsuk` FOREIGN KEY (`room_id`) REFERENCES `rooms` (`id`),
  CONSTRAINT `FK7wdiylh6n96rvfmsndtoe0u2d` FOREIGN KEY (`teacher_id`) REFERENCES `teachers` (`id`),
  CONSTRAINT `fk_timetable_batch` FOREIGN KEY (`batch_id`) REFERENCES `batches` (`id`) ON DELETE CASCADE,
  CONSTRAINT `FKipxk6dtjrd0j0rwbsp4ctb349` FOREIGN KEY (`academic_year_id`) REFERENCES `academic_years` (`id`),
  CONSTRAINT `FKjgrx9v6bb7l6uxa43n2mt8fli` FOREIGN KEY (`course_id`) REFERENCES `courses` (`id`),
  CONSTRAINT `FKntrdt13bv315e67fy9jvbmjei` FOREIGN KEY (`time_slot_id`) REFERENCES `time_slots` (`id`),
  CONSTRAINT `FKp5fjpqc424u26iqu229kjifjf` FOREIGN KEY (`division_id`) REFERENCES `divisions` (`id`),
  CONSTRAINT `timetable_entries_chk_1` CHECK ((`week_number` >= 1))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `timetable_entries`
--

LOCK TABLES `timetable_entries` WRITE;
/*!40000 ALTER TABLE `timetable_entries` DISABLE KEYS */;
/*!40000 ALTER TABLE `timetable_entries` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-31 14:16:39
